/* style.css */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;  /* Prevents any scrolling */
    position: relative;  /* Allows absolute positioning inside */
    font-family: Arial, sans-serif;
}
#map {
    width: 100%;
    height: 60%; /* Adjust height so that guess box is visible */
    position: relative;
    z-index: 0;
}

.guess-box {
    position: fixed;
    top: 225px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000; /* Ensure it's on top of the map */
    width: 360px; /* Ensure the box is not too small */
    height: 300px;
}

.guess-box select {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24;

}
.guess-box button {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16;
    background-color: #007AC9;
    border: none;
    color: white;
    border-radius: 5px;
    height: 50px;
    box-shadow: 0 0 10px rgba(33, 11, 230, 0.3);
    transition: background-color 0.3s;
}

.guess-box button:hover {
    background-color: #2056ab;
}

.guess-box button:disabled {
    background-color: lightblue; /* Color when the button is disabled */
    cursor: not-allowed; /* Cursor indicates the button is disabled */
}

#multiplayer-settings-btn {
    position: fixed;
    top: 60px;
    right: 20px;
    width: 300px;
    z-index: 1000;
    background-color: #007AC9;
    border: none;
}

#singleplayer-settings-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
    background-color: #007AC9;
    border: none;
}