<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Mikä reitti?</title>
    <style>
        .bus { background-color: #0079c979; }
        .metro { background-color: #ca400077; }
        .tram { background-color: #00815270; }
        .train { background-color: #8b479973; }
        .ferry {background-color: #0079979f}
    </style>
</head>
<body>
    <div id="options-buttons">
    <button id="multiplayer-settings-btn" class="btn btn-primary" disabled>
        Moninpeli (ei toiminnassa)
    </button>
    <button id="singleplayer-settings-btn" class="btn btn-primary">
        Asetukset (beta)
    </button>
    </div>
    {% include 'multiplayer_settings_modal.html' %}
    {% include 'singleplayer_settings_modal.html' %}
    <!-- Include Full jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap JS and dependencies after jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/socket.io@4.0.0/dist/socket.io.js"></script> -->
    <!-- <script src="/static/socket_client.js"></script> -->
    <div id="map" style="height: 100vh;">{{ map_html|safe }}</div>
    <div class="guess-box">
        <b>Valitse linja:</b>
        <select id="place-dropdown">
            {% for line in line_types %}
            <option class="{{ line.transport_type }}" value="{{ line.route_short_name }}">
                {{ line.route_short_name }}
            </option>
            {% endfor %}
        </select>
        <button id="guess-btn" onclick="checkGuess()">Tarkista vastaus</button>
        <button onclick="newLine()">Hae uusi linja</button>
        <div id="result"></div>
        <div>Vastauksia yhteensä: <span id="total-guesses">{{ total_guesses }}</span></div>
        <div>Oikeita vastauksia: <span id="correct-guesses">{{ correct_guesses }}</span></div>
        <div>Onnistumisprosentti: <span id="correct-pct">{{ correct_pct }}</span> %</div>

    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        var sessionId = "{{ session_id }}";  
    </script>
    <script src="/static/socket-client.js"></script>
</body>
</html>